﻿<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>{{ "Events" | localize }}</h2>
                <p *ngIf="errorMessage != ''" class="alert alert-danger">{{ errorMessage | localize}}</p>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <button mat-icon-button [matMenuTriggerFor]="headerMenu" class="header-dropdown-mat-icon-button">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #headerMenu="matMenu">
                            <button mat-menu-item (click)="refresh()">
                                <mat-icon>refresh</mat-icon>
                                <span>{{ "Refresh" | localize }}</span>
                            </button>
                        </mat-menu>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <!--query start-->
                <!-- <div class="row clearfix">
                    <form>
                        <mat-form-field>
                            <input matInput [placeholder]="l('Filter')" [(ngModel)]="keyword" name="keyword">
                        </mat-form-field>

                        <div class="row">
                            <div class="col-md-12 text-right p-r-25">
                                <button mat-raised-button color="primary" (click)="getDataPage(1)">{{ 'Search' | localize }}</button>
                            </div>
                        </div>
                    </form>
                </div> -->
                <!--query end-->
                <table class="table table-hover table-striped" [busy]="isTableLoading">
                    <thead>
                        <tr>
                            <th>{{ "Title" | localize }}</th>
                            <th>{{ "Description" | localize }}</th>
                            <th>{{ "Max Registration Count" | localize }}</th>
                            <th>{{ "Registration Count" | localize }}</th>
                            <th>{{ "Expiration Date" | localize }}</th>
                            <th>{{ "Status" | localize }}</th>
                            <th *ngIf="false">User</th>
                            <th>{{ "Actions" | localize }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="
                let event of (events)
              ">
                            <td>{{ event.title }}</td>
                            <td>{{ event.description }}</td>
                            <td>{{ event.maxRegistrationCount }}</td>
                            <td>{{ event.registrationsCount }}</td>
                            <td>{{ event.date }}</td>
                            <td>{{ event.isCancelled == true ? 'Canceled' : 'Active' }}</td>
                            <td *ngIf="false">{{ event.creatorUserId }}</td>
                            <td>
                                <button class="action-button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                    <mat-icon>menu</mat-icon>
                                </button>
                                <mat-menu #actionsMenu="matMenu">
                                    <button mat-menu-item (click)="editEvent(event)">
                                        <mat-icon>edit</mat-icon>
                                        <span>{{ "Edit" | localize }}</span>
                                    </button>
                                    <button *ngIf="event.maxRegistrationCount > event.registrationsCount" mat-menu-item (click)="registerEvent(event)">
                                        <mat-icon>add</mat-icon>
                                        <span>{{ "Register" | localize }}</span>
                                    </button>
                                    <button mat-menu-item (click)="cancelEvent(event)">
                                        <mat-icon>cancel</mat-icon>
                                        <span>{{ "Cancel" | localize }}</span>
                                    </button>
                                    <button mat-menu-item (click)="deleteEvent(event)">
                                        <mat-icon>delete</mat-icon>
                                        <span>{{ "Delete" | localize }}</span>
                                    </button>
                                </mat-menu>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <div class="abp-pagination-controls-wrapper" *ngIf="totalItems > pageSize">
                    <abp-pagination-controls (pageChange)="getDataPage($event)" id="server">
                    </abp-pagination-controls>
                </div>
                <button mat-mini-fab color="primary" class="pull-right" (click)="createEvent()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>