<form autocomplete="off" #createRoleForm="ngForm" (ngSubmit)="registerToEvent()">
  <h1 mat-dialog-title>{{ "Register Event" | localize }}</h1>
  <mat-dialog-content style="width:600px;height:300px;">
    <mat-tab-group>
      <mat-tab [label]="'Register form' | localize">
        <br />
        <div class="row-fluid">
          <div class="col-md-12">
            <input type="hidden" name="id" [(ngModel)]="event.id" />
            <mat-form-field>
              <input
                readonly
                matInput
                name="title"
                [placeholder]="'title' | localize"
                [(ngModel)]="event.title"
                required
                minlength="2"
                maxlength="32"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                readonly
                matInput
                name="description"
                [placeholder]="'description' | localize"
                [(ngModel)]="event.description"
                required
                minlength="2"
                maxlength="32"
              />
            </mat-form-field>

            <!-- <mat-form-field>
              <mat-select matInput name="selectUser"
                placeholder="User" required>
                <mat-option *ngFor="let user of users" [value]="user.id">
                  {{ user.name }}
                </mat-option>
              </mat-select>
          </mat-form-field> -->
            
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
    >
      {{ "Register" | localize }}
    </button>
  </div>
</form>
