<form autocomplete="off" #createRoleForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ titleEvent | localize }}</h1>
  <mat-dialog-content style="width:600px;height:300px;">
    <mat-tab-group>
      <mat-tab [label]="'Details' | localize">
        <br />
        <div class="row-fluid">
          <div class="col-md-12">
            <input type="hidden" name="id" [(ngModel)]="event.id" />
            <mat-form-field>
              <input
                matInput
                name="title"
                [placeholder]="'Title' | localize"
                [(ngModel)]="event.title"
                required
                minlength="2"
                maxlength="32"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                name="description"
                [placeholder]="'Description' | localize"
                [(ngModel)]="event.description"
                required
                minlength="2"
                maxlength="32"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                name="maxRegistrationCount"
                [placeholder]="'Max Registration Count' | localize"
                [(ngModel)]="event.maxRegistrationCount"
                required
                minlength="1"
                maxlength="10"
              />
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="picker1" placeholder="Angular forms" [formControl]="date">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
